/* NAVIGATION */

#conteneur-navigation {
    border-bottom:3px solid grey;
}

.nav-elem {
    float:left;
    margin:10px;
    font-size:25px;
    font-family:"Lucida Console", "Courier New", monospace;
}

.nav-elem a {
    all:unset;
    cursor:pointer;
}

.row {
    margin-right:0;
}

/* DESCRIPTION DES SÉQUENCES PAR DES CARACTÈRES FLÈCHES */

.descFleche {
    font-size:25px;
    float:left;
 }
 .textblue {
    color:blue;
 }
 .textred {
    color:red;
 }
 .textgreen {
    color:green;
 }
 .textyellow {
    color:#aaaa00;
 }