/* NAVIGATION */

#lienDaily {
   font-weight:bold;
}

.petiteMarge { /*  le bouton "réinitialiser" */
   margin-left:1px;
}

/* LE TEXTE INDICATIF */

#rowSelectionJour {
   padding-top:20px;
}

.texte {
   margin-left:10px;
   margin-top:4px;
   margin-bottom:4px;
   margin-right:4px;
}

#titreEnigme {
   text-align:center;
   padding-top:12px;
   font-weight:bold;
}

/* LE CHAMP D'ENREGISTREMENT */

#inputPseudo {
   width:180px;
}