/* NAVIGATION */

#lienScores { /* lien pour aller sur la page "scores" en gras */
   font-weight:bold;
}

/* TABLEAU AFFICHANT LES SCORES */

.texteHorsCase {
   margin-left:8px;
   margin-top:10px;
}
.emplTableau {
   margin-top:10px;
   margin-bottom:20px;
}

.case {
   border:1px solid grey;
   width:160px;
   height:40px;
   text-align:center;
}
.spoiler {
   background-color:black;
   color:black; /* parce que la couleur auto n'est pas parfaitement noire donc on voit à travers le spoiler */
}
.spoiler:hover {
   background-color:white;
}
.casePseudo {
   width:200px;
}

#scoresAjd {
   border:3px solid black;
}
#scoresHier {
   border:3px solid black;
}

/* DESCRIPTION DES SÉQUENCES */

.indicEnigme {
   float:left;
   margin-right:40px;
   margin-top:10px;
}
.emplVide {
   margin-left:8px;
}